@media screen and (max-width: 480px) {
	body {
		text-align: center;
	}
	.header {
		margin: 20px auto;
	}
	.container {
		width: 90%;
		margin: 5px auto;
	}
	.logo {
		width: 30%;
	}
	.logo img {
		padding: 8px 0;
	}

	.menu-bar {
		display: none;
	}
	.toggler {
		display: block;
		margin: auto;
		float: right;
	}
	.toggler-icon {
		width: 35px;
		height: 5px;
		background-color: black;
		margin: 6px 0;
	}

	.post-title {
	}

	.optine-form div {
		width: 80%;
		padding: 0;
	}
	.container2 {
		width: 80%;
	}
	.blog-card {
		width: 100%;
		margin: 0;
		padding: 0;
	}
	.blog-card:first-child {
		padding-right: 0;
	}
	.blog-card:last-child {
		padding-left: 0;
	}
	.footer {
		text-align: center;
	}
	.footer-links {
		width: 100%;
		float: none;
		text-align: center;
	}
	.social-icons {
		width: 100%;
		float: none;
		text-align: center;
	}
	.footer-links ul,
	.social-icons ul {
		display: block;
		margin: 10px auto;
		text-align: center;
	}
	.footer-links ul li:last-child {
		margin-right: 0;
	}
	.social-icons ul li:first-child {
		margin-left: 0;
	}
}

@media screen and (max-width: 768px) {
	body {
		text-align: center;
	}
	.header {
		margin: 20px auto;
	}
	.container {
		width: 90%;
		margin: 5px auto;
	}
	.logo {
		width: 20%;
	}
	.logo img {
		padding: 8px 0;
	}

	.menu-bar {
		display: none;
	}
	.toggler {
		display: block;
		margin: auto;
		float: right;
	}
	.toggler-icon {
		width: 35px;
		height: 5px;
		background-color: black;
		margin: 6px 0;
	}

	.footer {
		text-align: center;
	}
	.footer-links {
		width: 100%;
		float: none;
		text-align: center;
	}
	.social-icons {
		width: 100%;
		float: none;
		text-align: center;
	}
	.footer-links ul,
	.social-icons ul {
		display: block;
		margin: 10px auto;
		text-align: center;
	}
	.footer-links ul li:last-child {
		margin-right: 0;
	}
	.social-icons ul li:first-child {
		margin-left: 0;
	}
}

@media screen and (max-width: 1203px) {
	.logo {
		width: 15%;
	}
	.menu-bar ul li {
		display: inline-block;
		margin-left: 2em;
	}
	.container2 {
		width: 80%;
	}
	.footer-links,
	.social-icons {
		width: auto;
	}
}
